extends ../layout/main

block variables
  - var title = "HTML Academy: PINK - Конкурс";
  - var pageTitle = "Конкурс на самое безбашенное путешествие с Пинк";
  - var formPage = true;

block content

