extends ../layout/main

block variables
  - var title = "HTML Academy: PINK - Главная страница";
  - var mainPage = true;
  - var pageTitle = "Взгляните на жизнь иначе!";

block content
  section.offer-section
    h2.offer-section__title Устали от серости мегаполиса?
    p.offer-section__text Нам есть, что вам предложить!
    .offer-section__wrap.skew-background
      .container
        ul.offer-section__list
          li.offer-section__item.offer-section__item--grayscale
            section.offer-item
              .offer-item__content
                h3.offer-item__title Поднимает настроение
                p.offer-item__text Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
          li.offer-section__item.offer-section__item--pink
            section.offer-item
              .offer-item__content
                h3.offer-item__title Меняет мир вокруг
                p.offer-item__text Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
          li.offer-section__item.offer-section__item--smile
            section.offer-item
              .offer-item__content
                h3.offer-item__title Заводит новых друзей
                p.offer-item__text Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
      .container.effect-section-wrap
        section.effect-section(data-time="24")
          h3.effect-section__title Эффект #[span на 24 часа!]
          p.effect-section__text Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
          a(href="#").effect-section__link Узнать больше об исследовании
  section.container.comment-section
    h2.visually-hidden Отзывы
    ul.comment-section__list
      li
        article.comment-block
          span.comment-block__icon
            svg(width="79", height="79", fill="var(--basic-gray-light-3)")
              use(xlink:href="img/sprite.svg#icon-quotes")
          div.comment-block__title-wrap
            h4.comment-block__title Николай Петров
            em.comment-block__sub-title 25 лет, водитель трамвая
          p.comment-block__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
    ul.comment-section__nav.slider-nav
      li.slider-nav__item
        button(type="button").slider-nav__button.active
          span.visually-hidden Слайдер номер 1
      li.slider-nav__item
        button(type="button").slider-nav__button
          span.visually-hidden Слайдер номер 2
      li.slider-nav__item
        button(type="button").slider-nav__button
          span.visually-hidden Слайдер номер 3
    ul.comment-section__control.slider-control
      li.slider-control__item
        button.slider-control__button.slider-control__button--prev
          span.visually-hidden Предыдущий слайдер
          span.slider-control__icon
            svg(width="41", height="41", fill="var(--basic-color)")
              use(xlink:href="img/sprite.svg#icon-review-arrow-left")
      li.slider-control__item
        button.slider-control__button.slider-control__button--next
          span.visually-hidden Следующий слайдер
          span.slider-control__icon
            svg(width="41", height="41", fill="var(--basic-color)")
              use(xlink:href="img/sprite.svg#icon-review-arrow-right")
  section.container.tariff-section.skew-background
    h2.visually-hidden Тарифы
    table.tariff-table
      tr.tariff-table__row
        th.tariff-table__th
        th.tariff-table__th
          b.tariff-table__title База
          p.tariff-table__price 1,99 USD
        th.tariff-table__th.tariff-table__hit
          b.tariff-table__title Стандарт
          p.tariff-table__price 3,99 USD
        th.tariff-table__th
          b.tariff-table__title Анлим
          p.tariff-table__price 9,99 USD
      tr.tariff-table__row
        td.tariff-table__td
          p.tariff-table__text Розовый фильтр
        td.tariff-table__td(data-text="Розовый фильтр")
          span.tariff-table__icon
            span.visually-hidden Да
            svg(width="31", height="31", fill="var(--basic-green)")
              use(xlink:href="img/sprite.svg#icon-yes")
        td.tariff-table__td(data-text="Розовый фильтр")
          span.tariff-table__icon
            span.visually-hidden Да
            svg(width="31", height="31", fill="var(--basic-green)")
              use(xlink:href="img/sprite.svg#icon-yes")
        td.tariff-table__td(data-text="Розовый фильтр")
          span.tariff-table__icon
            span.visually-hidden Да
            svg(width="31", height="31", fill="var(--basic-green)")
              use(xlink:href="img/sprite.svg#icon-yes")
      tr.tariff-table__row
        td.tariff-table__td
          p.tariff-table__text Смайлики
        td.tariff-table__td(data-text="Смайлики")
          span.tariff-table__icon
            span.visually-hidden Нет
            svg(width="27", height="27", fill="var(--basic-orange)")
              use(xlink:href="img/sprite.svg#icon-no")
        td.tariff-table__td(data-text="Смайлики")
          span.tariff-table__icon
            span.visually-hidden Да
            svg(width="31", height="31", fill="var(--basic-green)")
              use(xlink:href="img/sprite.svg#icon-yes")
        td.tariff-table__td(data-text="Смайлики")
          span.tariff-table__icon
            span.visually-hidden Да
            svg(width="31", height="31", fill="var(--basic-green)")
              use(xlink:href="img/sprite.svg#icon-yes")
      tr.tariff-table__row
        td.tariff-table__td
          p.tariff-table__text Комментарии
        td.tariff-table__td(data-text="Комментарии")
          span.tariff-table__icon
            span.visually-hidden Нет
            svg(width="27", height="27", fill="var(--basic-orange)")
              use(xlink:href="img/sprite.svg#icon-no")
        td.tariff-table__td(data-text="Комментарии")
          span.tariff-table__icon
            span.visually-hidden Нет
            svg(width="27", height="27", fill="var(--basic-orange)")
              use(xlink:href="img/sprite.svg#icon-no")
        td.tariff-table__td(data-text="Комментарии")
          span.tariff-table__icon
            span.visually-hidden Да
            svg(width="31", height="31", fill="var(--basic-green)")
              use(xlink:href="img/sprite.svg#icon-yes")
    ul.tariff-section__nav.slider-nav
      li.slider-nav__item
        button(type="button").slider-nav__button
          span.visually-hidden Слайдер номер 1
      li.slider-nav__item
        button(type="button").slider-nav__button.active
          span.visually-hidden Слайдер номер 2
      li.slider-nav__item
        button(type="button").slider-nav__button
          span.visually-hidden Слайдер номер 3
  section.map-section
    div.map-section__content.container
      h3.map-section__title Остались вопросы? #[span Свяжитесь с нами!]
      ul.info-list
        li.info-list__item
          strong.info-list__title Звоните:
          a(href="tel:+78125556666").info-list__text +7 (812) 555-66-66
        li.info-list__item
          strong.info-list__title Пишите:
          a(href="mailto:mail@htmlacademy.ru").info-list__text mail@htmlacademy.ru
        li.info-list__item
          strong.info-list__title Приезжайте в гости:
          p.info-list__text ул. Большая #[span Конюшенная, 19/8]

    div.map-section__map
      <iframe class="map-section__iframe" src="https://yandex.uz/map-widget/v1/-/CCQxyNQKoB"></iframe>

