extends ../layout/main

block variables
  - var title = "HTML Academy: PINK - Фотографии";
  - var pageTitle = "Фотографии пользователей";
  - var photoPage = true;

block content
  section.photo-section.container
    h3.visually-hidden= pageTitle
    p.photo-section__text Взгляните на фотографии, которые выкладывают пользователи! Видите как не хватает ваших?
    ul.photo-section__list.photo-list
      li.photo-list__item
        article.photo-item
          div.photo-item__image-wrap.photo-item__image-wrap--panorama(data-notice="Панорама дня")
            picture
              source(srcset="img/panorama-desktop@1x.webp, img/panorama-desktop@2x.webp 2x", type="image/webp", media="(min-width: " + desktopView + ")")
              source(srcset="img/panorama-tablet@1x.webp, img/panorama-tablet@2x.webp 2x", type="image/webp", media="(min-width: " + tabletView + ")")
              source(srcset="img/panorama-mobile@1x.webp, img/panorama-mobile@2x.webp 2x", type="image/webp", media="(min-width: " + mobileView + ")")
              source(srcset="img/panorama-desktop@1x.jpg, img/panorama-desktop@2x.jpg 2x", media="(min-width: " + desktopView + ")")
              source(srcset="img/panorama-tablet@1x.jpg, img/panorama-tablet@2x.jpg 2x", media="(min-width: " + tabletView + ")")
              img.photo-item__img.photo-item__img--size(src="img/panorama-mobile@1x.jpg", srcset="img/panorama-mobile@2x.jpg 2x" alt="Мост над пропастью", width=320, height=137)
          div.photo-item__content.photo-content.photo-content--display
            h4.photo-content__title Анна #[small.photo-content__notice (5 минут назад)]
            p.photo-content__text.photo-content__text--first Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
            p.photo-content__likes.photo-content__likes--position
              | Нравится: 215
              button(type="button", title="Проголосуйте если вам понравилось фото").photo-content__icon-likes
                svg(width="13", height="13", fill="var(--basic-red)")
                  use(xlink:href="img/sprite.svg#icon-heart")
      li.photo-list__item
        article.photo-item
          .photo-item__image-wrap
            picture
              source(srcset="img/photo-car-desktop@1x.webp, img/photo-car-desktop@2x.webp 2x", type="image/webp", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-car-tablet@1x.webp, img/photo-car-tablet@2x.webp 2x", type="image/webp", media="(min-width: " + tabletView + ")")
              source(srcset="img/photo-car-mobile@1x.webp, img/photo-car-mobile@2x.webp 2x", type="image/webp", media="(min-width: " + mobileView + ")")
              source(srcset="img/photo-car-desktop@1x.jpg, img/photo-car-desktop@2x.jpg 2x", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-car-tablet@1x.jpg, img/photo-car-tablet@2x.jpg 2x", media="(min-width: " + tabletView + ")")
              img.photo-item__img(src="img/photo-car-mobile@1x.jpg", srcset="img/photo-car-mobile@2x.jpg 2x" alt="Белая машина", width="280", height="180")
          div.photo-item__content.photo-content
            h4.photo-content__title Левон #[small.photo-content__notice (5 часов назад)]
            p.photo-content__text Вчера он на луну летал, сегодня в руки к нам попал.
            p.photo-content__likes
              | Нравится: 356
              button(type="button", title="Проголосуйте если вам понравилось фото").photo-content__icon-likes
                svg(width="13", height="13", fill="var(--basic-red)")
                  use(xlink:href="img/sprite.svg#icon-heart")
      li.photo-list__item
        article.photo-item
          .photo-item__image-wrap
            picture
              source(srcset="img/photo-drumset-desktop@1x.webp, img/photo-drumset-desktop@2x.webp 2x", type="image/webp", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-drumset-tablet@1x.webp, img/photo-drumset-tablet@2x.webp 2x", type="image/webp", media="(min-width: " + tabletView + ")")
              source(srcset="img/photo-drumset-mobile@1x.webp, img/photo-drumset-mobile@2x.webp 2x", type="image/webp", media="(min-width: " + mobileView + ")")
              source(srcset="img/photo-drumset-desktop@1x.jpg, img/photo-drumset-desktop@2x.jpg 2x", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-drumset-tablet@1x.jpg, img/photo-drumset-tablet@2x.jpg 2x", media="(min-width: " + tabletView + ")")
              img.photo-item__img(src="img/photo-drumset-mobile@1x.jpg", srcset="img/photo-drumset-mobile@2x.jpg 2x" alt="Барабаны", width="280", height="180")
          div.photo-item__content.photo-content
            h4.photo-content__title Антон #[small.photo-content__notice (12 часов назад)]
            p.photo-content__text Соседи будут рады!
            p.photo-content__likes
              | Нравится: 666
              button(type="button", title="Проголосуйте если вам понравилось фото").photo-content__icon-likes
                svg(width="13", height="13", fill="var(--basic-red)")
                  use(xlink:href="img/sprite.svg#icon-heart")
      li.photo-list__item
        article.photo-item
          .photo-item__image-wrap
            picture
              source(srcset="img/photo-window-desktop@1x.webp, img/photo-window-desktop@2x.webp 2x", type="image/webp", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-window-tablet@1x.webp, img/photo-window-tablet@2x.webp 2x", type="image/webp", media="(min-width: " + tabletView + ")")
              source(srcset="img/photo-window-mobile@1x.webp, img/photo-window-mobile@2x.webp 2x", type="image/webp", media="(min-width: " + mobileView + ")")
              source(srcset="img/photo-window-desktop@1x.jpg, img/photo-window-desktop@2x.jpg 2x", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-window-tablet@1x.jpg, img/photo-window-tablet@2x.jpg 2x", media="(min-width: " + tabletView + ")")
              img.photo-item__img(src="img/photo-window-mobile@1x.jpg", srcset="img/photo-window-mobile@2x.jpg 2x" alt="Вид на небоскрёб", width="280", height="180")
          div.photo-item__content.photo-content
            h4.photo-content__title Борис #[small.photo-content__notice (20 часов назад)]
            p.photo-content__text Здесь могла быть ваша цитата о высоком и вечном.
            p.photo-content__likes
              | Нравится: 215
              button(type="button", title="Проголосуйте если вам понравилось фото").photo-content__icon-likes
                svg(width="13", height="13", fill="var(--basic-red)")
                  use(xlink:href="img/sprite.svg#icon-heart")
      li.photo-list__item
        article.photo-item
          .photo-item__image-wrap
            picture
              source(srcset="img/photo-fair-desktop@1x.webp, img/photo-fair-desktop@2x.webp 2x", type="image/webp", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-fair-tablet@1x.webp, img/photo-fair-tablet@2x.webp 2x", type="image/webp", media="(min-width: " + tabletView + ")")
              source(srcset="img/photo-fair-mobile@1x.webp, img/photo-fair-mobile@2x.webp 2x", type="image/webp", media="(min-width: " + mobileView + ")")
              source(srcset="img/photo-fair-desktop@1x.jpg, img/photo-fair-desktop@2x.jpg 2x", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-fair-tablet@1x.jpg, img/photo-fair-tablet@2x.jpg 2x", media="(min-width: " + tabletView + ")")
              img.photo-item__img(src="img/photo-fair-mobile@1x.jpg", srcset="img/photo-fair-mobile@2x.jpg 2x" alt="Базар", width="280", height="180")
          div.photo-item__content.photo-content
            h4.photo-content__title Сергей #[small.photo-content__notice (25 часов назад)]
            p.photo-content__text Самая кубанская в мире!
            p.photo-content__likes
              | Нравится: 4
              button(type="button", title="Проголосуйте если вам понравилось фото").photo-content__icon-likes
                svg(width="13", height="13", fill="var(--basic-red)")
                  use(xlink:href="img/sprite.svg#icon-heart")
      li.photo-list__item
        article.photo-item
          .photo-item__image-wrap
            picture
              source(srcset="img/photo-pov-desktop@1x.webp, img/photo-pov-desktop@2x.webp 2x", type="image/webp", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-pov-tablet@1x.webp, img/photo-pov-tablet@2x.webp 2x", type="image/webp", media="(min-width: " + tabletView + ")")
              source(srcset="img/photo-pov-mobile@1x.webp, img/photo-pov-mobile@2x.webp 2x", type="image/webp", media="(min-width: " + mobileView + ")")
              source(srcset="img/photo-pov-desktop@1x.jpg, img/photo-pov-desktop@2x.jpg 2x", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-pov-tablet@1x.jpg, img/photo-pov-tablet@2x.jpg 2x", media="(min-width: " + tabletView + ")")
              img.photo-item__img(src="img/photo-pov-mobile@1x.jpg", srcset="img/photo-pov-mobile@2x.jpg 2x" alt="Горы", width="280", height="180")
          div.photo-item__content.photo-content
            h4.photo-content__title Максим #[small.photo-content__notice (40 часов назад)]
            p.photo-content__text Где снег-то?
            p.photo-content__likes
              | Нравится: 150
              button(type="button", title="Проголосуйте если вам понравилось фото").photo-content__icon-likes
                svg(width="13", height="13", fill="var(--basic-red)")
                  use(xlink:href="img/sprite.svg#icon-heart")
      li.photo-list__item
        article.photo-item
          .photo-item__image-wrap
            picture
              source(srcset="img/photo-wing-desktop@1x.webp, img/photo-wing-desktop@2x.webp 2x", type="image/webp", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-wing-tablet@1x.webp, img/photo-wing-tablet@2x.webp 2x", type="image/webp", media="(min-width: " + tabletView + ")")
              source(srcset="img/photo-wing-mobile@1x.webp, img/photo-wing-mobile@2x.webp 2x", type="image/webp", media="(min-width: " + mobileView + ")")
              source(srcset="img/photo-wing-desktop@1x.jpg, img/photo-wing-desktop@2x.jpg 2x", media="(min-width: " + desktopView + ")")
              source(srcset="img/photo-wing-tablet@1x.jpg, img/photo-wing-tablet@2x.jpg 2x", media="(min-width: " + tabletView + ")")
              img.photo-item__img(src="img/photo-wing-mobile@1x.jpg", srcset="img/photo-wing-mobile@2x.jpg 2x" alt="Самолёт", width="280", height="180")
          div.photo-item__content.photo-content
            h4.photo-content__title Надежда #[small.photo-content__notice (45 часов назад)]
            p.photo-content__text Всем GM и взаимные лайки!
            p.photo-content__likes
              | Нравится: 2560
              button(type="button", title="Проголосуйте если вам понравилось фото").photo-content__icon-likes
                svg(width="13", height="13", fill="var(--basic-red)")
                  use(xlink:href="img/sprite.svg#icon-heart")
  section.upload-section.container
    h3.visually-hidden Загрузите свои фотографии
    p.upload-section__text Затмите их всех! #[span Выкладывайте все, что накопилось в телефоне!]
    form.upload-form(action="https://echo.htmlacademy.ru/")
      .upload-form__image-wrap
        picture
          source(srcset="img/photo-road-desktop@1x.webp, img/photo-road-desktop@2x.webp 2x", type="image/webp", media="(min-width: " + desktopView + ")")
          source(srcset="img/photo-road-tablet@1x.webp, img/photo-road-tablet@2x.webp 2x", type="image/webp", media="(min-width: " + tabletView + ")")
          source(srcset="img/photo-road-mobile@1x.webp, img/photo-road-mobile@2x.webp 2x", type="image/webp", media="(min-width: " + mobileView + ")")
          source(srcset="img/photo-road-desktop@1x.jpg, img/photo-road-desktop@2x.jpg 2x", media="(min-width: " + desktopView + ")")
          source(srcset="img/photo-road-tablet@1x.jpg, img/photo-road-tablet@2x.jpg 2x", media="(min-width: " + tabletView + ")")
          img.upload-form__image(src="img/photo-road-mobile@1x.jpg", srcset="img/photo-road-mobile@2x.jpg 2x" alt="Зимняя дорога", width="280", height="374")
      .upload-form__content
        ul.upload-form__filter.filter-form-list
          li.filter-form-list__item.active
            span.filter-form-list__icon.filter-form-list__icon--crop
              svg(width="44", height="44", fill="var(--basic-color)")
                use(xlink:href="img/sprite.svg#icon-editor-crop")
            div.filter-form-list__line.filter-range
              span.filter-range__line
              span(tabindex="0").filter-range__thumbler.filter-range__thumbler--crop
                span.visually-hidden Уровень обрезания фото
          li.filter-form-list__item
            span.filter-form-list__icon.filter-form-list__icon--fill
              svg(width="48", height="48", fill="var(--basic-color)")
                use(xlink:href="img/sprite.svg#icon-editor-fill")
            div.filter-form-list__line.filter-range
              span.filter-range__line
              span(tabindex="0").filter-range__thumbler.filter-range__thumbler--fill
                span.visually-hidden Уровень насыщенности цвета фото
          li.filter-form-list__item
            span.filter-form-list__icon.filter-form-list__icon--contrast
              svg(width="32", height="32", fill="var(--basic-color)")
                use(xlink:href="img/sprite.svg#icon-editor-contrast")
            div.filter-form-list__line.filter-range
              span.filter-range__line
              span(tabindex="0").filter-range__thumbler.filter-range__thumbler--contrast
                span.visually-hidden Уровень контраста фото

        hr.upload-form__rule
        .upload-form__button-wrap
          button(type="submit").upload-form__button Запостить
          button(type="reset").upload-form__button.upload-form__button--reset Отмена


