.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 63px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-green-btn);
  border: 2px solid var(--basic-green-btn);
  border-radius: 3px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  &:hover {
    background-color: var(--basic-green-btn-hover);
    border: 2px solid var(--basic-green-btn-hover);
  }

  &:active {
    outline: none;
    color: rgba(var(--basic-white-rgb), 0.1);
  }

  &.disabled,
  &[disabled] {
    outline: none;
    color: var(--basic-white);
    background: var(--basic-gray-light);
    border: 2px solid var(--basic-gray-light);
  }
}
