.download-app {
  padding: 30px 20px 31px;
  text-align: center;
  background-color: var(--basic-gray-dark-2);

  @media (min-width: $tablet-view) {
    position: relative;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-view) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    max-width: 300px;
  }
}

.download-app__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
  border: 3px solid currentColor;
  border-radius: 29px;
  min-height: 55px;
  margin-bottom: 32px;
  width: 100%;
  max-width: 300px;

  @media (min-width: $tablet-view) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-view) {
    margin-bottom: 70px;
  }
}

.download-app__title {
  margin-bottom: 2.5px;
  font-size: 18px;
  line-height: 1;

  @media (min-width: $desktop-view) {
    font-size: 21px;
    margin-bottom: 0;
  }
}

.download-app__list {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 19px;

  @media (min-width: $tablet-view) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-view) {
    margin-bottom: 49px;
  }
}

.download-app__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.download-app__link {
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;

  &--apple-icon {
    width: 47px;
    height: 57px;
    background-image: url("../img/logo-apple.svg");
    background-position: 1px -2px;
  }

  &--google-play-icon {
    width: 43px;
    height: 52px;
    background-image: url("../img/logo-android.svg");
  }

  &--microsoft-icon {
    width: 44px;
    height: 47px;
    background-image: url("../img/logo-microsoft.svg");
  }
}

.download-app__text {
  margin-bottom: 0;
  font-weight: 300;
}
