.footer {
  padding-top: 47px;
  padding-bottom: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-view) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 28px;
    padding-bottom: 42px;
  }

  @media (min-width: $desktop-view) {
    padding: 63px var(--container-gap) 77px;
  }
}

.footer__logo {
  margin-bottom: 34px;
  transform: translateY(-6px);

  @media (min-width: $tablet-view) {
    margin-bottom: 0;
    transform: translateY(6px);
  }
}
