.hold-phone {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 23%;
  background-size: cover;
  padding-top: 29px;
  min-height: 171px;

  &--bg-position {
    background-position: 0 100%;
  }
}

.hold-phone__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  color: currentColor;
  padding: 0 30px;
  margin-bottom: 34px;

  &--line-height {
    line-height: 120%;
  }
}

.hold-phone__wrap {
  display: block;

  & > img {
    display: block;
  }
}
