.hold-phone {
  padding-top: 25px;
  min-height: 170px;
  margin-left: calc(var(--container-gap) * -1);
  margin-right: calc(var(--container-gap) * -1);

  &--inner-page {
    padding-top: 28px;
  }

  @media (min-width: $tablet-view) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 619px;
    padding-right: 320px;
    padding-top: 94px;
    margin-left: 0;
    margin-right: 0;

    &--inner-page {
      min-height: 330px;
      padding-right: 0;
      padding-top: 66px;
    }
  }

  @media (min-width: $desktop-view) {
    position: relative;
    min-height: auto;
    padding-right: 600px;
    padding-bottom: 125px;
    padding-top: 100px;

    &--inner-page {
      padding-right: 0;
      padding-top: 60px;
      padding-bottom: 39px;
      align-items: center;
    }
  }
}

.hold-phone__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  color: currentColor;
  padding: 0 30px;
  margin-bottom: 29px;

  @media (min-width: $tablet-view) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-view) {
    padding-left: 80px;
    padding-right: 80px;

    &--photo-page {
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  &--main-page {
    line-height: 120%;

    @media (min-width: $tablet-view) {
      position: relative;
      z-index: 2;
      font-size: 40px;
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 31px;
    }

    @media (min-width: $desktop-view) {
      //margin-top: 99px;
      font-size: 50px;
      padding-left: 10px;
      line-height: 68px;
      margin-bottom: 36px;
    }
  }
}

.hold-phone__img {
  display: block;

  @media (min-width: $tablet-view) {
    width: 700px;
    height: 545px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 0;
    max-width: none;
  }

  @media (min-width: $desktop-view) {
    width: 1050px;
    height: 645px;
    left: auto;
    right: -126px;
    transform: translateX(0);
  }
}
