.logo {
  &[href]:hover {
    & svg {
      fill: var(--basic-red);
    }
  }

  &[href]:active {
    & svg {
      opacity: 0.3;
      fill: var(--basic-white);
    }
  }

  &--footer {
    &[href]:active {
      & svg {
        opacity: 0.3;
        fill: var(--basic-color);
      }
    }

    @media (min-width: $tablet-view) {
      .logo__icon--mobile {
        display: block;
      }
    }

    @media (min-width: $desktop-view) {
      .logo__icon--mobile {
        display: none;
      }
    }
  }
}

.logo__icon {
  display: block;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-view) {
    &--desktop,
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media (min-width: $desktop-view) {
    &--tablet,
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
