.offer-item__content {
  @media (min-width: $desktop-view) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.offer-item__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 12px;

  @media (min-width: $desktop-view) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.offer-item__text {
  color: var(--basic-color);
  margin-bottom: 0;

  @media (min-width: $tablet-view) {
    font-size: 14px;
  }

  @media (min-width: $desktop-view) {
    font-size: 18px;
    line-height: 30px;
  }
}
