.photo-item {
  @media (min-width: $tablet-view) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.photo-item__image-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  line-height: 0;

  &--panorama {
    margin-left: calc(var(--container-gap) * -1);
    margin-right: calc(var(--container-gap) * -1);

    @media (min-width: $desktop-view) {
      position: static;
      margin-left: 0;
      margin-right: 0;
      height: 506px;
    }
  }

  &[data-notice] {
    &::after {
      content: attr(data-notice);
      position: absolute;
      right: 20px;
      top: 0;
      font-size: 12px;
      line-height: 24px;
      background-color: var(--basic-red);
      color: var(--basic-white);
      text-transform: uppercase;
      font-weight: bold;
      padding: 6px 19.5px;

      @media (min-width: $tablet-view) {
        top: 57px;
      }

      @media (min-width: $desktop-view) {
        top: auto;
        transform: translateY(54px);
        right: var(--container-gap);
      }
    }
  }
}

.photo-item__img {
  @media (min-width: $tablet-view) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-view) {
    height: 400px;
  }

  &--size {
    @media (min-width: $tablet-view) {
      height: 509px;
      width: 660px;
    }

    @media (min-width: $desktop-view) {
      position: absolute;
      left: 0;
      height: 506px;
      width: 100%;
      object-fit: cover;
      object-position: center bottom;
    }
  }
}

.photo-item__content {
  background-color: var(--basic-gray-lighter);
  color: var(--basic-black);

  @media (min-width: $tablet-view) {
    flex-grow: 1;
  }
}
