.photo-item__image-wrap {
  position: relative;
  display: block;
  line-height: 0;

  &--panorama {
    margin-left: -20px;
    margin-right: -20px;
  }

  &[data-notice] {
    &::after {
      font-size: 12px;
      content: attr(data-notice);
      position: absolute;
      right: 20px;
      top: 0;
      background-color: var(--basic-red);
      color: var(--basic-white);
      text-transform: uppercase;
      font-weight: bold;

      padding: 6.5px 19.5px;
    }
  }
}

.photo-item__content {
  background-color: var(--basic-gray-lighter);
  color: var(--basic-black);
}
