.header__wrap
  .header__logo-wrap
    if (mainPage)
      a.header__logo.logo
        h1.visually-hidden PINK - приложение для смартфона
        svg.logo__icon.logo__icon--mobile(width="74", height="23", fill="var(--basic-white)")
          use(xlink:href="img/sprite.svg#icon-logo-pink-white-mobile")
        svg.logo__icon.logo__icon--tablet(width="145", height="40", fill="var(--basic-white)")
          use(xlink:href="img/sprite.svg#icon-logo-pink-white-tablet")
        svg.logo__icon.logo__icon--desktop(width="147", height="40", fill="var(--basic-white)")
          use(xlink:href="img/sprite.svg#icon-logo-pink-white-desktop")
    else
      a(href="index.html").header__logo.logo
        h1.visually-hidden PINK - приложение для смартфона
        svg.logo__icon.logo__icon--mobile(width="74", height="23", fill="var(--basic-white)")
          use(xlink:href="img/sprite.svg#icon-logo-pink-white-mobile")
        svg.logo__icon.logo__icon--tablet(width="145", height="40", fill="var(--basic-white)")
          use(xlink:href="img/sprite.svg#icon-logo-pink-white-tablet")
        svg.logo__icon.logo__icon--desktop(width="147", height="40", fill="var(--basic-white)")
          use(xlink:href="img/sprite.svg#icon-logo-pink-white-desktop")
    button(type="button", aria-label="Показать навигационное меню", data-alt-text="Скрыть навигационное меню").header__menu.mobile-menu.js-mobile-menu
      svg.mobile-menu__close.js-mobile-menu-close(width="23", height="23", fill="var(--basic-white)")
        use(xlink:href="img/sprite.svg#icon-menu-cross")
      svg.mobile-menu__burger.js-mobile-menu-open(width="50", height="24", fill="var(--basic-white)")
        use(xlink:href="img/sprite.svg#icon-menu-burger")

  nav.header__nav.nav
    ul.nav-list

      if (mainPage)
        li.nav-list__item
          a.nav-list__link Главная
      else
        li.nav-list__item
          a(href="index.html").nav-list__link Главная

      if (photoPage)
        li.nav-list__item.active
          a.nav-list__link Фотографии
      else
        li.nav-list__item
          a(href="photo.html").nav-list__link Фотографии

      if (formPage)
        li.nav-list__item.active
          a.nav-list__link Конкурс
      else
        li.nav-list__item
          a(href="form.html").nav-list__link Конкурс

      li.nav-list__item
        a(href="https://htmlacademy.ru/").nav-list__link HTML Academy
div.header-section-wrap.container(class=(mainPage) ? "header-section-wrap--main-page": "")
  section.hold-phone(class=(!mainPage) ? "hold-phone--inner-page": "")
    h2.hold-phone__title(class=(mainPage) ? "hold-phone__title--main-page": (photoPage) ? "hold-phone__title--photo-page": "")= pageTitle
    if (mainPage)
      picture
        source(srcset="img/iphone-hand-desktop@1x.webp, img/iphone-hand-desktop@2x.webp 2x", type="image/webp", media="(min-width: " + desktopView + ")")
        source(srcset="img/iphone-hand-tablet@1x.webp, img/iphone-hand-tablet@2x.webp 2x", type="image/webp", media="(min-width: " + tabletView + ")")
        source(srcset="img/iphone-hand-mobile@1x.webp, img/iphone-hand-mobile@2x.webp 2x", type="image/webp", media="(min-width: " + mobileView + ")")
        source(srcset="img/iphone-hand-desktop@1x.png, img/iphone-hand-desktop@2x.png 2x", media="(min-width: " + desktopView + ")")
        source(srcset="img/iphone-hand-tablet@1x.png, img/iphone-hand-tablet@2x.png 2x", media="(min-width: " + tabletView + ")")
        img.hold-phone__img(src="img/iphone-hand-mobile@1x.png", srcset="img/iphone-hand-mobile@2x.png 2x" alt="Музей в розовом свете", width="258", height="286")
    if (mainPage)
      div.download-app
        a(href="https://play.google.com/store?hl=ru").download-app__btn
          h3.download-app__title Скачать приложение
        ul.download-app__list
          li.download-app__item
            a(href="https://www.apple.com/ru/ios/app-store/", aria-label="Скачать приложение в App Store").download-app__link.download-app__link--apple-icon
          li.download-app__item
            a(href="https://play.google.com/store?hl=ru", aria-label="Скачать приложение в Google Play").download-app__link.download-app__link--google-play-icon
          li.download-app__item
            a(href="https://www.microsoft.com/ru-RU/store/apps", aria-label="Скачать приложение в Microsoft Store").download-app__link.download-app__link--microsoft-icon
        p.download-app__text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
